@model Garage2._0.Models.SpotViewModel
@{
    List<int> ints = Model.Spots;
}
@{
    ViewData["Title"] = "Spots";
}

<div class="container mt-3">
    <table class="table table-bordered">
        <tbody>
            @for (int row = 0; row <=10; row++)
            {
                <tr>
                    @for (int col = 0; col <10; col++)
                    {
                        int index = row * 10 + col+1;
                        if (ints.Contains(index))
                        {
                            <td class=" bg-danger">
                                X
                            </td>
                        }
                        else
                        {
                            <td class=" bg-primary">
                               O
                            </td>
                        }
          
                        
                    }
                </tr>
            }
        </tbody>
    </table>
</div>