@model Garage2._0.Models.SummaryViewModel

@{
    ViewData["Title"] = "Summary";
}

<div class="container mt-3">
    <table class="table table-bordered">
        @for (int i = 0; i < 10; i++)
        {
            <tr>
                @for (int j = 0; j < 10; j++)
                {
                   
                }
            </tr>
        }
    </table>
</div>