@model HomeViewModel 

@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <div class="row">
        <div class="col-lg-3">
            <div id="chartContainer" style="height: 370px; width: 100%;"></div>

        </div>
        
        <div class="col-lg-3">
            <div id="wheelsChartContainer" style="height: 370px; width: 100%;"></div>
        </div>
        
        

    </div>

</div>

@section Scripts {
    <script src="~/js/charts.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const serializedModel = @Html.Raw(Json.Serialize(Model));
            initializeChartsFromModel(serializedModel);
        });
    </script>
}



@* *@
@* @section Scripts { *@
@*     <script src="~/js/charts.js"></script> *@
@*     <script> *@
@*      *@
@*      *@
@*      *@
@*      *@
@*      *@
@*         document.addEventListener('DOMContentLoaded', function () { *@
@*             const vehicleTypesData = @Html.Raw(Json.Serialize(Model.VehicleTypeSummaries.Select(m => new {label = m.VehicleType.ToString(), y = m.Count}))); *@
@*             const wheelsData = @Html.Raw(Json.Serialize(Model.VehicleTypeSummaries.Select(m => new {label = m.VehicleType.ToString(), y = m.TotalWheels}))); *@
@* *@
@*             setupCharts(vehicleTypesData, wheelsData); *@
@*         }); *@
@*     </script> *@
@* } *@
